# Credentials and API keys
*.json
credentials.py
secrets.toml

# Specific credential files
humblesustainability-systems-2517c09a5a25.json
inventory-dashboard-455009-55fd550abb75.json
control-tower-454909-57dd2ea0f2bc.json
inbounds-dashboard-7bbf8f7a4f59.json
outbounds-dashboard-b4e9901c3361.json